name: JuliaFormatter

on:
  push:
    tags: '*'
  pull_request:

jobs:
  format:
    runs-on: ubuntu-latest
    steps:
      - uses: julia-actions/julia-format@v4
        with:
          version: '1'
          suggestion-label: 'format-suggest'
